<div class="sidebar">
  <div class="sidebar-inner-index">
    <ul class="main-menu">
      <%- partial('partials/main_menu', { context: 'sidebar' }) %>
    </ul>
  </div>
</div>

<div id="hero">
  <div class="inner">
    <div class="left">
      <img class="hero-logo" src="<%- url_for("/images/logo.png") %>">
    </div><div class="right">
      <h2 class="vue">Vue.js</h2>
      <h1>
        Прогрессивный<br>JavaScript-фреймворк
      </h1>
      <p>
        <a class="button" href="<%- url_for("/v2/guide/") %>">НАЧАТЬ ЗНАКОМСТВО</a>
        <a class="button white" href="https://github.com/vuejs/vue" target="_blank">GITHUB</a>
      </p>
    </div>
  </div>
</div>

<div id="highlights">
  <div class="inner">
    <div class="point">
      <h2>Доступный</h2>
      <p>Уже знаете HTML, CSS и&nbsp;JavaScript? Освойте короткое руководство&nbsp;— и&nbsp;вперёд!</p>
    </div>

    <div class="point">
      <h2>Разносторонний</h2>
      <p>Постепенно внедряемая экосистема, которая масштабируется из библиотеки в полно-функциональный фреймворк.</p>
    </div>

    <div class="point">
      <h2>Производительный</h2>
      <p>
        Всего 20&nbsp;КБ (min+gzip)<br>
        Быстрый виртуальный&nbsp;DOM<br>
        Оптимизация без сложностей
      </p>
    </div>
  </div>
</div>

<div id="sponsors">
  <div class="inner">
    <%- partial('partials/sponsors') %>
  </div>
</div>

<div id="footer">
  <p>Выпускается по <a href="https://opensource.org/licenses/MIT" target="_blank">лицензии MIT</a><br>
  Copyright &copy; 2014-<%- new Date().getFullYear() %> Evan You</p>
</div>

<script>
(function () {
  var topScrolled = false
  var sponsors = document.getElementById('sponsors')
  var sponsorTop = sponsors.offsetTop
  var sponsorActive = false

  window.addEventListener('resize', function () {
    sponsorTop = sponsors.offsetTop
  })

  window.addEventListener('scroll', function () {
    if (window.pageYOffset > 165 && !topScrolled) {
      topScrolled = true
      document.getElementById('mobile-bar').classList.remove('top')
    } else if (window.pageYOffset <= 165 && topScrolled) {
      topScrolled = false
      document.getElementById('mobile-bar').classList.add('top')
    }
    if (window.pageYOffset > sponsorTop - 100) {
      if (!sponsorActive) {
        sponsorActive = true
        sponsors.classList.add('active')
      }
    } else {
      if (sponsorActive) {
        sponsorActive = false
        sponsors.classList.remove('active')
      }
    }
  })
})()
</script>
